<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-xs-12">
    <ul class="list-group">
      <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= user.first_name %> <%= user.last_name %>
          <% headings_count = user.headings.count %>
          <span class="badge badge-primary badge-pill"><%= headings_count %> compétence<%= "s" if headings_count > 1 %></span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
