<div class="row">
  <div class="col-xs-12">
    <h1>Les services proposés</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8 col-xs-12">
    <ul class="list-group">
      <% @headings.each do |heading| %>
        <li class="list-group-item"><%= heading.human_id %> - <%= heading.title %></li>
      <% end %>
    </ul>
  </div>
</div>
